$color-primary-1: #631403;
$color-primary-2: #BD2F0F;
$color-primary-3: #D6401F;
$color-primary-4: #DFAB9F;
$color-primary-5: #F2E8E6;

$color-branding: #EC9089;
$color-visual: #B7F79B;
$color-marketing: #9FECF6;
$color-web: #C78BF8;
$color-events: #F9F697;
$color-ecommerce: #F5C28F;

$color-neutral-100: #0E0C0C;
$color-neutral-90: #181616;
$color-neutral-80: #5A4C49;
$color-neutral-60: #78635E;
$color-neutral-40: #B29A95;
$color-neutral-30: #F1EAE8;
$color-neutral-20: #F5F0EF;
$color-neutral-10: #FAF6F5;
$color-neutral-00: #FFFFFF;

$color-error-100: #760909;
$color-error-80: #970C0C;
$color-error-60: #D21E1C;

$color-success-100: #235C2B;
$color-success-80: #2B7236;
$color-success-60: #27A138;
$color-success-40: #D8EAD9;
$color-success-20: #ECF5ED;

$color-warning-100: #803F00;
$color-warning-80: #A25000;
$color-warning-60: #E98305;
$color-warning-40: #FAE3C7;
$color-warning-20: #FDF0E3;

$color-info-100: #004680;
$color-info-80: #005AA3;
$color-info-60: #0172CB;
$color-info-40: #D1E9FB;
$color-info-20: #E8F4FD;
